.castItem {
  width: 200px;
  height: 405px;
  color: white;
}
.image {
  width: 200px;
  height: 300px;
}
.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
